@function getArrowProto($size){
    @return (

    );
}

$_protipConfig: (
    arrow-size: 4px,
    positions: (
        top: 1,
        right: 1,
        bottom: 1,
        left: 1,
        top-left: 2,
        top-right: 2,
        right-top: 2,
        right-bottom: 2,
        bottom-left: 2,
        bottom-right: 2,
        left-top: 2,
        left-bottom: 2,
        corner-left-top: 3,
        corner-left-bottom: 3,
        corner-right-top: 3,
        corner-right-bottom: 3,
    )
);

@function protipConfig($key){
    @return map-get($_protipConfig, $key);
}