$_protipConfig: (
    positions: (
        top: 1,
        right: 1,
        bottom: 1,
        left: 1,
        top-left: 2,
        top-right: 2,
        right-top: 2,
        right-bottom: 2,
        bottom-left: 2,
        bottom-right: 2,
        left-top: 2,
        left-bottom: 2,
        top-left-corner: 3,
        top-right-corner: 3,
        bottom-left-corner: 3,
        bottom-right-corner: 3,
    )
);

@function protipConfig($key){
    @return map-get($_protipConfig, $key);
}