@if mixin-exists(translate) == false {
    @mixin translate($x:0, $y:0) {
        -webkit-transform: translate($x,$y);
        -ms-transform: translate($x,$y);
        -moz-transform: translate($x,$y);
        transform: translate($x,$y);
    }
}

@if mixin-exists(boxSizing) == false {
    @mixin boxSizing($val: border-box) {
        -webkit-box-sizing: $val;
        -moz-box-sizing: $val;
        box-sizing: $val;
    }
}

@mixin protipArrowGenerator($skin, $arrow-size, $offset, $color, $cornerRadiusFix) {

    ///////////// TOP
    .#{$skin}[data-pt-position="top-left"],
    .#{$skin}[data-pt-position="top"],
    .#{$skin}[data-pt-position="top-right"] {
        .protip-arrow {
            top: 100%;
            left: auto;
            margin: 0 0 0 $arrow-size*-1;
            border-width: $arrow-size $arrow-size 0 $arrow-size;
            border-color: $color transparent transparent transparent;
        }
    }

    .#{$skin}[data-pt-position="top-left"]	.protip-arrow	{left: $offset}
    .#{$skin}[data-pt-position="top"] 		.protip-arrow	{left: 50%}
    .#{$skin}[data-pt-position="top-right"]	.protip-arrow	{left: auto; right: $offset; margin-right: $arrow-size*-1}

    ///////////// BOTTOM
    .#{$skin}[data-pt-position="bottom-left"],
    .#{$skin}[data-pt-position="bottom"],
    .#{$skin}[data-pt-position="bottom-right"] {
        .protip-arrow {
            top: $arrow-size*-1;
            left: auto;
            margin: 0 0 0 $arrow-size*-1;
            border-width: 0 $arrow-size $arrow-size $arrow-size;
            border-color: transparent transparent $color transparent;
        }
    }

    .#{$skin}[data-pt-position="bottom-left"]		.protip-arrow	{left: $offset}
    .#{$skin}[data-pt-position="bottom"]			.protip-arrow	{left: 50%}
    .#{$skin}[data-pt-position="bottom-right"]	.protip-arrow	{left: auto; right: $offset; margin-right: $arrow-size*-1}

    ///////////// LEFT
    .#{$skin}[data-pt-position="left-top"],
    .#{$skin}[data-pt-position="left"],
    .#{$skin}[data-pt-position="left-bottom"] {
        .protip-arrow {
            top: auto;
            left: 100%;
            margin: $arrow-size*-1 0 0 0;
            border-width: $arrow-size 0 $arrow-size $arrow-size;
            border-color: transparent transparent transparent $color;
        }
    }

    .#{$skin}[data-pt-position="left-top"]	.protip-arrow 	{top: $offset}
    .#{$skin}[data-pt-position="left"]		.protip-arrow 	{top: 50%}
    .#{$skin}[data-pt-position="left-bottom"]	.protip-arrow 	{top: auto; bottom: $offset; margin-bottom: $arrow-size*-1}

    ///////////// RIGHT
    .#{$skin}[data-pt-position="right-top"],
    .#{$skin}[data-pt-position="right"],
    .#{$skin}[data-pt-position="right-bottom"] {
        .protip-arrow {
            top: auto;
            right: 100%;
            margin: $arrow-size*-1 0 0 0;
            border-width: $arrow-size $arrow-size $arrow-size 0;
            border-color: transparent $color transparent transparent;
        }
    }

    .#{$skin}[data-pt-position="right-top"]		.protip-arrow 	{top: $offset}
    .#{$skin}[data-pt-position="right"]			.protip-arrow 	{top: 50%}
    .#{$skin}[data-pt-position="right-bottom"]	.protip-arrow 	{top: auto; bottom: $offset; margin-bottom: $arrow-size*-1}
    /////////////

    ///////////// CORNERS
    .#{$skin}[data-pt-position="corner-left-top"] {
        @if $cornerRadiusFix {
            border-bottom-right-radius: 0;
        }

        .protip-arrow {
            top: 100%;
            left: 100%;
            margin: 0 0 0 $arrow-size*-1;
            border-width: 0 $arrow-size $arrow-size 0;
            border-color: transparent $color transparent transparent;
        }
    }

    .#{$skin}[data-pt-position="corner-right-top"] {
        @if $cornerRadiusFix {
            border-bottom-left-radius: 0;
        }

        .protip-arrow {
            top: 100%;
            left: $arrow-size*-1;
            margin: 0 0 0 $arrow-size;
            border-width: $arrow-size $arrow-size 0 0;
            border-color: $color transparent transparent transparent;
        }
    }

    .#{$skin}[data-pt-position="corner-left-bottom"] {
        @if $cornerRadiusFix {
            border-top-right-radius: 0;
        }

        .protip-arrow {
            top: $arrow-size*-1;
            left: 100%;
            margin: 0 0 0 $arrow-size*-1;
            border-width: 0 0 $arrow-size $arrow-size;
            border-color: transparent transparent $color transparent;
        }
    }

    .#{$skin}[data-pt-position="corner-right-bottom"] {
        @if $cornerRadiusFix {
            border-top-left-radius: 0;
        }

        .protip-arrow {
            top: 0;
            left: $arrow-size*-1;
            margin: $arrow-size*-1 0 0 $arrow-size;
            border-width: $arrow-size 0 0 $arrow-size;
            border-color: transparent transparent transparent $color;
        }
    }

}