@if mixin-exists(translate) == false {
    @mixin translate($x:0, $y:0) {
        -webkit-transform: translate($x,$y);
        -ms-transform: translate($x,$y);
        -moz-transform: translate($x,$y);
        transform: translate($x,$y);
    }
}

@if mixin-exists(boxSizing) == false {
    @mixin boxSizing($val: border-box) {
        -webkit-box-sizing: $val;
        -moz-box-sizing: $val;
        box-sizing: $val;
    }
}