@import "_config";
@import "_mixins";

$arrow-size: protipConfig(arrow-size);

.protip {
	&-container {
		display: table;
		position: fixed;
		left: 0;
		top: 0;
		z-index: -2;
		visibility: hidden;

		> i {
			position: absolute;
            top: 10px;
            left: 10px;

			// If there is an icon in the tooltip (warning, ok, etc.) the content has different style
			+ span {
				@include boxSizing;
				padding-left: 30px;
			}
		}
	}

    &-arrow {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
    }

	&-show {
		position: absolute;
		visibility: visible;
        z-index: 50;
	}
}

@import "skin/all";
/////////////