$_protipSquareSkinColors: (
	'pro': #da2e2b,
	'blue': #336699,
	'red': #802731,
	'aqua': #339996,
	'black': #000000,
	'leaf': #339959,
	'purple': #613399,
	'pink': #D457AA,
	'orange': #E64426
) !default;

$_protipSquareSkinSizes: (

		'tiny': (
				arrow-size: 4px,
				css: (
						padding: 8px,
						font-size: 10px
				)
		),

		'small': (
				arrow-size: 6px,
				css: (
						padding: 13px,
						font-size: 12px
				)
		),

		'normal': (
				arrow-size: 8px,
				css: (
						padding: 16px,
						font-size: 15px
				)
		),

		'big': (
				arrow-size: 10px,
				css: (
						padding: 20px,
						font-size: 18px
				)
		),

		'large': (
				arrow-size: 12px,
				css: (
						padding: 20px,
						font-size: 18px
				)
		)
) !default;

@mixin protipSquareSkinArrowGenerator($skin, $arrow-size, $offset, $color, $cornerRadiusFix) {

	///////////// TOP
	.#{$skin}[data-pt-position="top-left"],
	.#{$skin}[data-pt-position="top"],
	.#{$skin}[data-pt-position="top-right"] {
		.protip-arrow {
			top: 100%;
			left: auto;
			margin: 0 0 0 $arrow-size*-1;
			border-width: $arrow-size $arrow-size 0 $arrow-size;
			border-color: $color transparent transparent transparent;
		}
	}

	.#{$skin}[data-pt-position="top-left"]	.protip-arrow	{left: $offset}
	.#{$skin}[data-pt-position="top"] 		.protip-arrow	{left: 50%}
	.#{$skin}[data-pt-position="top-right"]	.protip-arrow	{left: auto; right: $offset; margin-right: $arrow-size*-1}

	///////////// BOTTOM
	.#{$skin}[data-pt-position="bottom-left"],
	.#{$skin}[data-pt-position="bottom"],
	.#{$skin}[data-pt-position="bottom-right"] {
		.protip-arrow {
			top: $arrow-size*-1;
			left: auto;
			margin: 0 0 0 $arrow-size*-1;
			border-width: 0 $arrow-size $arrow-size $arrow-size;
			border-color: transparent transparent $color transparent;
		}
	}

	.#{$skin}[data-pt-position="bottom-left"]		.protip-arrow	{left: $offset}
	.#{$skin}[data-pt-position="bottom"]			.protip-arrow	{left: 50%}
	.#{$skin}[data-pt-position="bottom-right"]	.protip-arrow	{left: auto; right: $offset; margin-right: $arrow-size*-1}

	///////////// LEFT
	.#{$skin}[data-pt-position="left-top"],
	.#{$skin}[data-pt-position="left"],
	.#{$skin}[data-pt-position="left-bottom"] {
		.protip-arrow {
			top: auto;
			left: 100%;
			margin: $arrow-size*-1 0 0 0;
			border-width: $arrow-size 0 $arrow-size $arrow-size;
			border-color: transparent transparent transparent $color;
		}
	}

	.#{$skin}[data-pt-position="left-top"]	.protip-arrow 	{top: $offset}
	.#{$skin}[data-pt-position="left"]		.protip-arrow 	{top: 50%}
	.#{$skin}[data-pt-position="left-bottom"]	.protip-arrow 	{top: auto; bottom: $offset; margin-bottom: $arrow-size*-1}

	///////////// RIGHT
	.#{$skin}[data-pt-position="right-top"],
	.#{$skin}[data-pt-position="right"],
	.#{$skin}[data-pt-position="right-bottom"] {
		.protip-arrow {
			top: auto;
			right: 100%;
			margin: $arrow-size*-1 0 0 0;
			border-width: $arrow-size $arrow-size $arrow-size 0;
			border-color: transparent $color transparent transparent;
		}
	}

	.#{$skin}[data-pt-position="right-top"]		.protip-arrow 	{top: $offset}
	.#{$skin}[data-pt-position="right"]			.protip-arrow 	{top: 50%}
	.#{$skin}[data-pt-position="right-bottom"]	.protip-arrow 	{top: auto; bottom: $offset; margin-bottom: $arrow-size*-1}
	/////////////

	///////////// CORNERS
	.#{$skin}[data-pt-position="top-left-corner"] {
		@if $cornerRadiusFix {
			border-bottom-right-radius: 0;
		}

		.protip-arrow {
			top: 100%;
			left: 100%;
			margin: 0 0 0 $arrow-size*-1;
			border-width: 0 $arrow-size $arrow-size 0;
			border-color: transparent $color transparent transparent;
		}
	}

	.#{$skin}[data-pt-position="top-right-corner"] {
		@if $cornerRadiusFix {
			border-bottom-left-radius: 0;
		}

		.protip-arrow {
			top: 100%;
			left: $arrow-size*-1;
			margin: 0 0 0 $arrow-size;
			border-width: $arrow-size $arrow-size 0 0;
			border-color: $color transparent transparent transparent;
		}
	}

	.#{$skin}[data-pt-position="bottom-left-corner"] {
		@if $cornerRadiusFix {
			border-top-right-radius: 0;
		}

		.protip-arrow {
			top: $arrow-size*-1;
			left: 100%;
			margin: 0 0 0 $arrow-size*-1;
			border-width: 0 0 $arrow-size $arrow-size;
			border-color: transparent transparent $color transparent;
		}
	}

	.#{$skin}[data-pt-position="bottom-right-corner"] {
		@if $cornerRadiusFix {
			border-top-left-radius: 0;
		}

		.protip-arrow {
			top: 0;
			left: $arrow-size*-1;
			margin: $arrow-size*-1 0 0 $arrow-size;
			border-width: $arrow-size 0 0 $arrow-size;
			border-color: transparent transparent transparent $color;
		}
	}

}

// Schemes
@each $colorName, $color in $_protipSquareSkinColors {

	$skinSel: protip-skin-square--scheme-#{$colorName};

	.#{$skinSel} {
		&.protip {
			&-container {
				color: #fff;
				background: $color;
				font-family: sans-serif;
				transition: opacity 0.2s ease-out;
			}
		}
	}

	@include protipSquareSkinArrowGenerator(
		$skin: $skinSel,
		$arrow-size: 8px,
		$offset: 20px,
		$color: $color,  // Ugly, i know :(
		$cornerRadiusFix: 0
	);
}

// Sizes
@each $sizeName, $sizeMap in $_protipSquareSkinSizes {
	$sizeSel: protip-skin-square--size-#{$sizeName};

	.#{$sizeSel} {
		@each $prop, $val in map-get($sizeMap, css) {
			#{$prop}: #{$val};
		}
	}

	@include protipSquareSkinArrowGenerator (
		$skin: $sizeSel,
		$arrow-size: map-get($sizeMap, arrow-size),
		$offset: 20px,
		$color: invalid,  // Ugly, i know :(
		$cornerRadiusFix: 0
	);
}
